# **Агрегатные функции, вложенные запросы, соединения**

## **1. Агрегатные функции**
Агрегатные функции выполняют вычисления над набором строк и возвращают одно значение. Они часто используются вместе с оператором `GROUP BY` для группировки данных.

### **Основные агрегатные функции**
- **`COUNT(*)`** – подсчитывает количество строк в результате запроса.
- **`SUM(column)`** – суммирует значения в указанном столбце.
- **`AVG(column)`** – вычисляет среднее значение столбца.
- **`MIN(column)`** – находит минимальное значение в столбце.
- **`MAX(column)`** – находит максимальное значение в столбце.

Пример:
```sql
SELECT department, COUNT(*) AS employee_count, AVG(salary) AS avg_salary
FROM Employees
GROUP BY department;
```
Этот запрос подсчитывает количество сотрудников в каждом отделе и рассчитывает их среднюю зарплату.

Дополнительный пример использования `SUM`:
```sql
SELECT department, SUM(salary) AS total_salary
FROM Employees
GROUP BY department;
```
Этот запрос вычисляет общую сумму зарплат в каждом отделе.

---

## **2. Вложенные запросы**
Вложенные запросы (subqueries) – это SQL-запросы, находящиеся внутри других запросов. Они используются, когда необходимо выполнить промежуточные вычисления перед основным запросом.

### **Основные виды вложенных запросов**
- **В `WHERE`** – используется для фильтрации данных на основе результатов другого запроса.
- **В `SELECT`** – позволяет выбирать данные из подзапроса для вычислений.
- **В `FROM`** – применяется для создания временных таблиц, которые используются в основном запросе.

Пример вложенного запроса в `WHERE`:
```sql
SELECT name, salary 
FROM Employees 
WHERE salary > (SELECT AVG(salary) FROM Employees);
```
Этот запрос выбирает сотрудников, зарплата которых выше средней по всей компании.

Пример вложенного запроса в `FROM`:
```sql
SELECT temp.department, temp.avg_salary
FROM (SELECT department, AVG(salary) AS avg_salary FROM Employees GROUP BY department) AS temp
WHERE temp.avg_salary > 50000;
```
Этот запрос сначала вычисляет среднюю зарплату по отделам, а затем фильтрует только те отделы, где средняя зарплата выше 50 000.

---

## **3. Соединения (`JOIN`)**
`JOIN` используется для объединения данных из нескольких таблиц на основе связей между ними. Это позволяет работать с нормализованными базами данных и получать комплексную информацию.

### **Основные виды `JOIN`**
- **`INNER JOIN`** – возвращает только совпадающие записи из обеих таблиц.
- **`LEFT JOIN`** – возвращает все записи из левой таблицы и совпадающие из правой.
- **`RIGHT JOIN`** – возвращает все записи из правой таблицы и совпадающие из левой.
- **`FULL JOIN`** – объединяет все записи из обеих таблиц, заполняя отсутствующие значения `NULL`.

Пример `INNER JOIN`:
```sql
SELECT Employees.name, Departments.department_name
FROM Employees
INNER JOIN Departments ON Employees.department_id = Departments.id;
```
Этот запрос объединяет таблицы `Employees` и `Departments`, находя соответствующие отделы для каждого сотрудника.

Пример `LEFT JOIN`:
```sql
SELECT Employees.name, Departments.department_name
FROM Employees
LEFT JOIN Departments ON Employees.department_id = Departments.id;
```
Здесь выбираются все сотрудники, даже если у них нет соответствующего отдела (в таком случае `department_name` будет `NULL`).

Пример `FULL JOIN`:
```sql
SELECT Employees.name, Departments.department_name
FROM Employees
FULL JOIN Departments ON Employees.department_id = Departments.id;
```
Этот запрос объединяет данные из обеих таблиц, включая всех сотрудников и все отделы, даже если у них нет соответствующего совпадения.

In [ ]:
-- Проверяет, существует ли база данных перед её удалением
DROP DATABASE IF EXISTS productsdb; 

-- Удаляет схему (с пространством имен) базы данных
DROP SCHEMA <name_of_scheme> [CASCADE | RESTRICT];

-- Создаёт новую базу данных с именем "productsdb"
CREATE DATABASE productsdb;

-- Устанавливает текущую базу данных для выполнения команд
USE productsdb;

-- Создаёт таблицу "customers" с колонками id и age
CREATE TABLE customers (
    id INT,  -- Целочисленный идентификатор клиента
    age INT  -- Целочисленный возраст клиента
);

-- Атрибуты для столбцов в SQL:
-- NOT NULL – запрещает хранение NULL-значений
-- UNIQUE – гарантирует уникальность значений в столбце
-- AUTO_INCREMENT – автоматически увеличивает значение (обычно для ID)
-- DEFAULT – задаёт значение по умолчанию
-- PRIMARY KEY – делает столбец первичным ключом (уникальным и NOT NULL)
-- CHECK – добавляет ограничение на значения столбца
-- FOREIGN KEY – связывает этот столбец с другим в другой таблице