any

select * from products
where price < any (
    select price from products
    where manufacturer = 'Apple' 
);

x > any(1, 2) -- x > 1
x < any(1, 2) -- x < 1

коррелирующие/некоррелирующие запросы

примеры

select created_at, product_count, 
    (select product_name
    from products
    where products.id = something)


тут короче используется select & where. и это называется коррелирующие подзапросы

вложенные запросы. примеры подзапроса в выражении update

update orders 
set product_count = product_count + 2
where product_id in (
    select id from products
    where manufacturer = 'Apple'
);

оператор set

update products
set product_count = product_count - (
    select sum(product_count) from orders
    where orders.product_id = products.id
)

delete

delete from orders 
where product_id = (
    select id from products
    where product_name = 'Galaxy A12'
);

классификация многотабличных запросов

запросы к нескольким таблицам

с помощью primary_key & foreign_key

(on delete cascade прочекать)

запросы к нескольким таблицам

insert into products (product_name, product_count)

insert insert customers (first_name)
values
('Tom'),
('Bob');

insert into orders (product_id, customer_id, created_at, product_count)
values
(
    (select product_id from products where product_name='Galaxy S22'),
    (select customer_id from customers where first_name='Tom'),
    '2022-05-21',
    2
)

использование псевдонимов таблиц (as)

select c.first_name, p.product_name

соединения JOIN

внутреннее соединение

union

declare

локальные переменные

if then else

create function

case 

repeat

do while

цикл loop